@font-face {
  font-family: "UQM-3DO";
  src: url('../fonts/UQM-3DOMenuLabels.ttf') format('truetype');
}

@font-face {
  font-family: "UQM-CommanderFont";
  src: url('../fonts/UQM-CommanderFont.ttf') format('truetype');
}

@font-face {
  font-family: "UQM-TinyFont";
  src: url('../fonts/UQM-TinyFont.ttf') format('truetype');
}

body {
    width: 100%;
    height: 100%;
    background-color: #000;
    color: #fff;
    margin: 0px;
    padding: 0;
    overflow: hidden;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

.property-name {
    font-family: "UQM-TinyFont";
}

li.title {
  font-family: "UQM-TinyFont";
}

.close-button
{
  font-family: "UQM-TinyFont";
}

a
{
  color: #ff4800;
}

#brandTag
{
	position: fixed;
	display: block;
	top: 0px;
	left: 30px;
	color: white;
	background-color: rgba(0, 0, 0, 0.8);
	z-index: 1000;
	text-align: center;
	padding: 12px 12px 12px 12px;
	font-size: 18px;
	font-family: "UQM-3DO",  Helvetica, sans-serif;
	transition-property: color, background-color, padding;
	transition-duration: 0.3s;
}

#creditsBox {
  position: fixed;
  z-index: 1000;
  bottom: 0px;
  left: 20px;
  color: #FFFFFF;
  background-color: rgba(0, 0, 0, 0.8);
  width: 30%;
}

#brandTagImage
{
  vertical-align: middle;
  padding-right: 12px;
}

@media (width < 600px) {

}

@media screen and (max-width: 600px) {
  #brandTag
  {
  	display: none;
  }
  #infoBoxHolder
  {
  	display: none;
  }
}

@media screen and (min-width: 600px) {
  #infoBoxHolderMobile {
    display: none;
  }
  #newPlanetButtonHolder {
    display: none;
  }
}

#brandTag:hover
{
	color: black;
	background-color: white;
	padding: 24px 12px 12px 12px;
}

#infoBoxHolder {
  position: absolute;
  z-index: 1000;
  top: 0px;
  right: 20px;
  color: #FFFFFF;
  background-color: rgba(0, 0, 0, 0.8);
  width: 245px;
}

#infoBox {
  padding: 12px 12px 12px 12px;
  font-size: 14px;
	font-family: "Helvetica-Light", sans-serif;
  line-height: 18px;
}

#planetName {
  font-size: 24px;
  line-height: 28px;
  font-family: "UQM-CommanderFont";
}

#instructions {
  font-size: 10px;
}

#infoBoxHolderMobile {
  position: absolute;
  z-index: 1000;
  top: 0px;
  width: 100%;

}

#infoBoxMobile {

  margin: 0 auto;

  width: 245px;
  color: #FFFFFF;
  background-color: rgba(0, 0, 0, 0.8);
  padding: 12px 12px 12px 12px;
  font-size: 14px;
	font-family: "Helvetica-Light", sans-serif;
  line-height: 18px;
  text-align: center;
}

#planetNameMobile {
  font-size: 24px;
  line-height: 28px;
  font-family: "UQM-CommanderFont";
}


#newPlanetButtonHolder {
  position: absolute;
  z-index: 1000;
  bottom: 0px;
  width: 100%;
}

#newPlanetButton {
  margin: 0 auto;

  width: 145px;
  color: #FFFFFF;
  background-color: rgba(0, 0, 0, 0.8);
  padding: 12px 12px 12px 12px;
  font-size: 18px;
  font-family: "UQM-TinyFont", "Helvetica-Light", sans-serif;
  line-height: 18px;
  text-align: center;
}

#line {
  background-color: rgba(255, 255, 255, 0.2);
  width: 100%;
  height: 1px;
}


#biomeCanvas {
  position: absolute;
  z-index: 1000;
  bottom: 0px;
  right: 0px;
}

#nebulaeCanvas {
  position: absolute;
  z-index: 1000;
  bottom: 0px;
  left: 0px;
}

#sunCanvas {
  position: absolute;
  z-index: 1000;
  bottom: 0px;
  right: 0px;
}

/* Position the button VR on the bottom of the page. */
#ui {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    font-family: 'Karla', sans-serif;
    z-index: 1;
}

a#magic-window {
    display: block;
    color: white;
    margin-top: 1em;
}
